<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <% if (typeof style !== 'undefined' && style !== null){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% } %>
  <script src="/assets/jquery/1.12.4/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
</head>
<body>