<%- include ("partials/head.html") %>
<%- include ("partials/nav.html") %>

<div class="container-fluid text-left"> 
  <div class="row content">
    <div class="col-sm-12 content">
      <p>Website prides itself on being the most trusted automotive marketplace. It’s the go-to destination for car buyers and has been for the past 40 years.</p>
      <p>Website has over 90% prompted brand awareness with consumers and attracts over 50 million cross platform visits each month. The audience is not only large but highly engaged with a 75% share of minutes spent across automotive platforms.</p>
    </div>
  </div>
</div>

<%- include ("partials/footer.html") %>