<%- include ("partials/head.html") %>
<%- include ("partials/nav.html") %>
<div class="container-fluid">    
  <div class="row">
    <div class="col-sm-2 sidenav account">
      <ul>
        <li><img class="img-thumbnail" src="/<%= account.avatar%>"></li>
        <li> <span class="glyphicon glyphicon-user"></span> <b><%= account.first_name%> <%= account.last_name%></b></li>
        <li><a href="/users/my-list"> <span class="glyphicon glyphicon-list"></span> My Listings</a></li>
        <li><a href="/users/logout"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
    <div class="col-sm-10 content text-left"> 
      <h1>My Account</h1>

    </div>
  </div>
</div>
<%- include ("partials/footer.html") %>